<div id='background'>
  <h1>New Note:</h1>
  <%= form_for [current_user, @note] do |f| %>

    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div>
      <%= f.label :body %>
      <%= f.text_area :body, rows: 10 %>
    </div>

    <div>
      <%= f.label :game %>
      <%= f.select :game, @games %>
    </div>

    <%= f.submit id: 'special'%>

  <% end %>
</div>
