<div id='background' class='large-offset-1 columns medium-offset-1 columns small-offset-1 columns large-10 columns medium-10 columns small-10 columns'>
  <div class='text-center'><h2>All Games, listed by most recently created</h2></div>
  <% @games.each do |game| %>
    <p>
      <u><%= link_to game.name, game_path(game) %></u>:
      <% if game.description.length > 150 %>
        <%= game.description[0...150] %>...(click the game name to see more)
      <% else %>
        <%= game.description %>
      <% end %>
      <br />What: <%= game.gametype %>
      <br />Where: <%= game.location %> // When: <%= game.frequency %>, <%= game.day %>s at <%= DateTime.parse(game.time).strftime("%l:%M%p") %>
      // Players: <%= game.playernum %>
      <hr />
    </p>
  <% end %>
  <div class='text-center' id='out'>
    <h5>Oops, all out of games!</h5>
  </div>
</div>

<div class='small-12 columns medium-12 columns large-12 columns' id='newgame'>
  <div class='large-4 medium-6 small-8 large-offset-4 medium-offset-3 small-offset-2 columns'>
    <%= button_to 'Add a Game Listing', new_game_path, method: :get, id: 'button'  %>
  </div>
</div>
