<div id='background' class='small-12 columns medium-8 columns large-8 columns'>
  <div class='large-12 columns medium-12 columns small-12 columns'>
    <h1>
      <%= @game.name %>
      <% if (current_user.id == @game.dm_id) %>
        <div class='large-3 columns medium-3 columns small-3 columns float-right'>
          <%= link_to 'Edit Game', edit_game_path(@game), id: 'button', class: 'text-center' %>
        </div>
      <% end %>
      <% if current_user && (Signup.where(user: current_user, game: @game) == []) && (Request.where(user: current_user, game: @game) == []) %>
        <div class='large-4 columns medium-5 columns small-6 columns float-right'>
          <%= form_for [@game, @request] do |f| %>
            <%= f.text_field :body, value: "Please tell us why you'd like to join" %>
            <%= f.submit value:'Request to Join', id: 'button' %>
          <% end %>
        </div>
      <% end %>
      <% if (Request.where(user: current_user, game: @game) != []) %>
        <div class='large-4 columns medium-5 columns small-6 columns float-right'>
          <% @request = Request.where(user: current_user, game: @game).first %>
          <%= button_to 'Delete Request', game_request_path(@game, @request), method: :delete, data: { confirm: "Are you sure?" }, id: 'button' %>
        </div>
      <% end %>
    </h1>
  </div>

  <p>We are playing <%= @game.gametype %>:
    <% if @game.frequency == 'Other' %>
      <%= @game.other %>,
    <% else %>
      <%= @game.frequency %>,
    <% end %>
    <%= @game.day %>s at <%= DateTime.parse(@game.time).strftime("%l:%M%p") %> at <%= @game.location %></p>
  <p>Description: <%= @game.description %></p>
  <p>Game run by: <%= User.find(@game.dm_id).username %></p>
  <p>Player Total: <%= @game.playernum %></p>
  <p>
    <h3>Current players: (<%= @game.signups.size %>/<%= @game.playernum %>)</h3>
    <% @game.signups.each do |signup| %>
      <div class='small-12 columns'>
        <div class='small-2 columns' style="font-size: 20px"><%= signup.user.username %></div>
          <% if current_user == signup.user %>
            <div class='small-5 columns'><%= button_to 'Leave Game', game_signup_path(@game, signup), method: :delete, id: 'button' %></div>
          <% elsif current_user.id == @game.dm_id %>
            <div class='small-5 columns'><%= button_to 'Remove Player from Game', game_signup_path(@game, signup), method: :delete, id: 'button' %></div>
          <% end %>
      </div>
    <% end %>
  </p>
  <p>
    <% if (Signup.where(user: current_user, game: @game) != []) %>
      <h3>Comments:</h3>
      <% @game.comments.each do |comment| %>
      <hr />
        <p class='small-offset-1 columns small-10 columns'><%= comment.user.username %>: <%= time_ago_in_words(comment.created_at) %> ago
        <br /><%= comment.body %></p>
      <% end %>
      <div class='small-12 columns medium-12 columns large-12 columns'>
        <div class='large-3 columns medium-5 columns, small-7 columns'>
          <button id='writecomment' onclick="showcomment()">Write Comment</button>
        </div>
      </div>

      <div id="div1">
        <div class='small-12 columns medium-12 columns large-12 columns'>
          <div class='large-3 columns medium-5 columns, small-7 columns'>
            <button id='button' onclick='hidefield()'>Nevermind</button>
          </div>
        </div>
        <div class='small-12 columns'>
          <% @comment = Comment.new %>
          <%= render 'comments/form' %>
        </div>
      </div>
    <% end %>
  </p>
</div>

<div id='background' class='small-12 columns medium-3 columns large-3 columns float-right'>
  <% if current_user.id == @game.dm_id %>
    <h3>Tracks:</h3>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/139904718&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
  <% end %>

  <% if current_user.id == @game.dm_id %>
    <h3>Requests:</h3>
    <p>
      <% if @game.requests == [] %>
        No new requests.
      <% end %>
      <% @game.requests.each do |request| %>
        <%= request.user.username %>:
        <br /><%= request.body %>
        <%= form_for [@game, @signup] do |f| %>
          <%= f.hidden_field :user_id, value: request.user.id %>
          <%= f.submit(value="Add Player", id: 'special') %>
        <% end %>
      <% end %>
    </p>
  <% end %>

  <% if current_user.id == @game.dm_id %>
  <hr />
    <h3>Add Player to Game Manually:</h3>
      <%= form_for [@game, @signup] do |f| %>
      <%= f.label :user, value: 'Username of Player:' %>
      <%= f.text_field :user %>
      <%= f.submit(value='Add Player', id: 'special') %>
      <% end %>
  <% end %>

  <% if current_user.id == @game.dm_id %>
  <hr />
    <h3>Change DM:</h3>
      <%= form_for [@game] do |f| %>
      <%= f.label :dm_id, value: 'ID of Player:' %>
      <%= f.text_field :dm_id %>
      <%= f.submit(value='Transfer DM Privileges', id: 'special') %>
      <% end %>
  <% end %>

  <% if current_user.id == @game.dm_id %>
  <hr />
  <% end %>

  <h3>Your Games:</h3>
    <% if current_user.signups == [] %>
      You have no games!
    <% end %>
    <% current_user.signups.each do |signup| %>
      <p>
        <%= link_to signup.game.name, game_path(signup.game) %>: Role -
        <% if signup.game.dm_id == current_user.id %>
          DM
        <% else %>
          Player
        <% end %>
      </p>
    <% end %>
    <hr />
  <h3>Your Notes:</h3>
    <% if current_user.notes.where(game: @game) == [] %>
      You have no notes for this game.
    <% end %>
    <% current_user.notes.where(game: @game).each do |note| %>
      <p><%= link_to note.title, edit_user_note_path(current_user, note)  %> - Last updated: <%= time_ago_in_words(note.updated_at) %> ago</p>
    <% end %>
    <%= button_to 'Create New Note', new_user_note_path(current_user, @note), method: :get, id: 'special' %>
</div>
