<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Merienda|Sahitya" rel="stylesheet">

    <title><%= content_for?(:title) ? yield(:title) : 'The Local Tavern' %></title>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= render 'layouts/navbar' %>
  </head>

  <body>
    <body onload="hidefield()">
    <div id='flash'>
      <% if notice %>
        <div class='alert alert-success'><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class='alert alert-danger'><%= alert %></div>
      <% end %>
    </div>
    <div id='universal'>
      <%= yield %>
    </div>
  </body>
</html>
